body{
	background-color: #e6e6e6;
}

#game-wrapper{
	width: 60%;
	margin: auto;
	margin-top: 100px;
}

#game-field{
	background-color: white;
	text-align: center;
	overflow: hidden;
	padding: 2% 10%;
}

h1{
	font-size: 30px;
	font-family: "Arial";

}

.status{
	color: blue;
	float: left;
	padding: 10px;
	overflow: hidden;
}

.start-over{
	background-color: red;
	color: white;
	float: right;
	padding: 10px;
	overflow: hidden;
	margin: 0px 30px 0px 0px;
	border-radius: 10%;
}

.one{
	clear: both;
}

#blue-space{
	background-color: blue;
	height: 300px;
	clear: both;
}

.grid{
	float: left;
	width: 22%;
	border: 2px solid black;
	border-radius: 10%;
	margin: 1%;
	position: relative;
}

img{
	width: 100%;
}

.cover{
	background-color: #e6e6e6;
	border-radius: 10%;
	position: absolute;
	width: 100%;
}


























